<section class="section banner" id="banner">
    <div [@bannerTrigger] class="container">
        <div class="section-box-banner">
            <div class="content">
                <div>
                    <!-- <h1>Hola, mi nombre es</h1> -->
                    <h1>Hello! My name is</h1>
                </div>
                <div class='banner-title'>
                    <h2 class="text-capitalize">Prashant Saran Singh</h2>
                    <h3 class="text-capitalize">Web developer</h3>
                </div>
                <div class='banner-description'>
                    <p class="mt-4">I'm an <span class="underline"> IT professional </span> passionate with about 2 years of experiene exploring various aspects of technology and the internet. I have knowledge in
                        <span class="underline"> Spring Framework and Angular</span> which I've been learning and experimenting with. In my two years at NovelVox, I specialized in designing and delivering dynamic, scalable, and user-centric web applications using Angular, SpringBoot and NodeJs. My work focuses on leveraging both frontend and backend technologies to deliver efficient and feature-rich solutions and I am well-versed in the latest Angular 18 updates.
                    </p>
                </div>
            </div>
            <div class="div-btn-banner">
                <a (click)='analyticsService.sendAnalyticEvent("click_send_mail", "banner", "email")' href="mailto:prashantsaransingh@gmail.com" target="_black" class="main-btn text-capitalize">
                    get in touch
                </a>
            </div>
        </div>
    </div>
</section>