<section class="section about" id='about'>
    <div class="container">
        <div class="section-box">
            <div class="about-title" data-aos="fade-up">
                <h3 class="section-title">
                    <span class='n-section-title'>01.</span> About me
                </h3>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 mb-4 mb-md-0">
                    <div class="about-description">
                        <p data-aos="fade-up" data-aos-duration="1000">
                            Hello <span class="underline">World!</span>! 👋
                        </p>
                        <p data-aos="fade-up" data-aos-duration="1000">
                            I'm <span class="underline"> Prashant Saran Singh</span> from Gorakhpur, U.P., an enthusiastic IT student on a journey of discovery in
                            the world of technology. I'm fueled by a passion for
                            learning and a hunger for growth.
                        </p>

                        <p data-aos="fade-up" data-aos-duration="1000">
                            In my studies, I've been diving into the exciting realm of web development, particularly focusing on technologies like
                            <span class="underline"> Angular &
                                Spring.</span> Through hands-on projects and
                            coursework, I'm gaining a foundation in these tools and exploring their potential to create dynamic and engaging user
                            experiences.
                        </p>

                        <p data-aos="fade-up" data-aos-duration="1000">Some of the technologies that I have trained and worked on include (but are not
                            limited to):</p>
                        <ul class="skills-list" data-aos="fade-up">
                            <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">Angular </span></li>
                            <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">Spring </span></li>
                            <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">HTML </span></li>
                            <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">Java</span></li>
                            <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">(S)CSS </span></li>
                            <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">MySQL, SQLServer</span></li>
                            <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">JavaScript </span></li>
                            <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">TypeScript </span></li>
                            <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">Git, Docker</span></li>
                            <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">Bootstrap, TailwindCss
                                </span></li>
                            <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">VueJs </span></li>
                            <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">Other... </span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-6 mt-4 mt-md-0 text-center" data-aos="fade-up" data-aos-duration="1000">
                    <div class="about-img-container">
                        <img (click)='analyticsService.sendAnalyticEvent("click_image", "about", "image")' width="300" height="400"
                            src="assets/images/me/me.jpg" alt="Git User">
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>